<div class="table__pagination">
    <div class="table__pager" (click)="pagerPrevious()" [ngClass]="{active: table.options.page.current != 1}"><i class="icon-arrow_left"></i></div>
    <div class="table__pager__details">
         {{table.options.page.current}} of {{table.options.page.count}}
    </div>
    <div class="table__pager" (click)="pagerNext()" [ngClass]="{active: table.options.page.current != table.options.page.count}"><i class="icon-arrow_right"></i></div>
</div>
<div class="table__wrapper">
    <div class="table__header">
        <div *ngFor="let column of table.options.columns">{{column}}</div>
        <div>Actions</div>
    </div>
    <div class="table__body">
        <div class="table__item" *ngFor="let item of table.data  ">
            <div *ngFor="let column of table.options.columns">{{item[column]}}</div>
            <div>Actions</div>
        </div>
    </div>
    <div class="table__footer">
        <div *ngFor="let column of table.options.columns">{{column}}</div>
        <div>Actions</div>
    </div>
</div>
